form fieldset {
  border: none;
}

form fieldset + fieldset {
  margin-top: 3.5rem;
}

form fieldset legend {
  color: var(--color-card-title);

  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.625rem;
  
}

fieldset .separator {
  margin-bottom: 2rem;
}

form .input-group {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

form .input-group .input-wrapper + .input-wrapper {
  margin-left: 1.5rem;
  color: white;
  background-color: 	#484d50f8 ;
  height: 60px;
  width: 300px;
  padding-left: 10px;
}
form .input-group .input-wrapper {
 margin-left: 1.5rem;
  color:white;
  background-color: 	#484d50f8 ;
  height: 60px;
  width: 300px;
  border-radius: 6px;
  margin-top: 30px;
  padding-left: 10px;

}
form .input-wrapper {
  margin-left: 1.5rem;
  color:white;
  background-color: 	#484d50f8 ;
  height: 40px;
  border-radius: 6px;
  width: 300px;
  padding-left: 10px;
}
.input-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
  padding-left: 10px;
}


label {
  display: inline-block; 
  padding-top: 0,75px;
  padding-bottom: 3px;
  font-family: IBM Plex Sans;
  font-weight: 500;
  font-size: 15px;
  color: white;
margin-top: 2px;
 margin-bottom: 0,7rem; 
 border-radius: 6px;
}
a #avatar-profile :hover {
  background: #31313b;
}
span :hover {
  background: #787880;
}


input {
  font-family: IBM Plex Sans;
  font-weight: 500;
  color: white;
   background: #787880;
  border: 1px solid 1px black;
  border-radius: .313rem;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 20px;
}
::placeholder { 
  color: #BFBFCC;
} 
